@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Quicksand !important;
  box-sizing: border-box;
}

html,
body {
  @apply bg-neutral-100 dark:bg-neutral-900 h-screen px-3;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
